body {
  background-color: #fff; }

.header {
  background-color: #4d90c4; }

.aside-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  padding: .5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10; }
  .aside-bar a {
    text-decoration: none;
    color: #333;
    padding: .5rem 1rem;
    margin: .5rem 0;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem; }
  .aside-bar a:hover {
    background-color: #2797CC;
    color: #fff; }
  .aside-bar .aside-head {
    display: block;
    width: 80%;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0; }
  .aside-bar .aside-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 80%; }

.aside-bar-hidden {
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in; }

.aside-bar-active {
  transform: translate(0%);
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
  transition: translate .5s ease in;
  -webkit-transition: translate .5s ease in;
  -moz-transition: translate .5s ease in;
  -ms-transition: translate .5s ease in;
  -o-transition: translate .5s ease in; }

.active {
  color: #fff;
  font-weight: bold; }

/* .login {
    background-color:rgb(200, 217, 231);
    margin:3rem auto;
    width:50%;
    max-width:600px;
    min-width:250px;
    border-radius:.5rem;
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    -ms-border-radius:.5rem;
    -o-border-radius:.5rem;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:2rem;

    #loginForm {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap:.5rem;

        img {
            width:50%;
        }

        input {
            width:70%;
            min-width:200px;
            max-width:450px;
            padding:.5rem;
            background-color:#fff;
            border:1px solid #ddd;
            border-radius:.5rem;        ;
            -webkit-border-radius:.5rem        ;
            -moz-border-radius:.5rem        ;
            -ms-border-radius:.5rem        ;
            -o-border-radius:.5rem        ;
}
        
    }
} */
.signin {
  margin: 0;
  height: 95vh;
  width: 100%; }
  .signin .signin-form {
    border: 1px solid #ccc;
    margin: 2rem auto 0 auto;
    width: 60%;
    height: 80%;
    max-width: 600px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem; }
    .signin .signin-form img {
      width: 50%;
      max-width: 200px;
      margin: 0 auto;
      padding: 0;
      line-height: 0; }
    .signin .signin-form .signin-title {
      color: #fff;
      text-align: center; }
    .signin .signin-form label {
      color: #fff; }
    .signin .signin-form input {
      margin: .4rem auto;
      width: 40%;
      min-width: 200px;
      max-width: 400px;
      border: none;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      padding: .4rem; }
    .signin .signin-form #signin-button {
      display: inline;
      margin: 0 auto;
      padding: .4rem;
      width: 100px;
      margin-top: .4rem; }
    .signin .signin-form .signin-title {
      color: #444; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.home-wrapper h1 {
  text-align: center; }

.kid-icon {
  width: 30px; }

.genre {
  text-align: center; }

.listed-student {
  background-color: #fff;
  cursor: pointer; }

#root {
  background-color: #f3f3f7;
  height: 100vh; }

/*# sourceMappingURL=styles.css.map */
