.aces-direction {
    display:flex;
    flex-direction: column !important;
    transform: rotate(270deg);
    flex-wrap: nowrap;
    width:100%;
    img {
        width:500px;
    }
}

* {
    box-sizing: border-box;
}

.aces-page-item {
    max-width:100%;
    margin-left:0;

}


.next {
    width:200px;
}

.aces-next {
    max-width: 100%;
    overflow: hidden; 

    p {
        max-width:1100px;
    }
}


.aces-form {
    border:1px solid red;

}

.aces-content-wrapper {
    width:600px ;
    flex-direction: column !important;
  
}
