.aside-bar {
    background-color: #fff;
    width:100%;
    display:flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width:220px;
    margin-top:1rem;
    padding:.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    position:fixed;
    z-index:10;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    
    a{
        text-decoration: none;
        color:#333;
        padding:.5rem 1rem;
        margin:.5rem 0;
        border-radius:.8rem;
        -webkit-border-radius:.8rem;
        -moz-border-radius:.8rem;
        -ms-border-radius:.8rem;
        -o-border-radius:.8rem;
        cursor: pointer;
}

    a:hover {
        background-color:#7ebdc2;
        color:#fff !important;
    }

    .aside-head {
        display:block;
        width:80%;
        border-bottom:1px solid #284b63;
        padding:1rem 0;
    }

    .aside-menu {
        display:flex;
        flex-direction: column;
        padding:1rem 0;
        width:80%;



    }




}

.aside-bar-hidden {
    transform:translate(-100%);
    -webkit-transform:translate(-100%);
    -moz-transform:translate(-100%);
    -ms-transform:translate(-100%);
    -o-transform:translate(-100%);
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    -o-transition:.5s ease-in;
}

.aside-bar-active {
    transform:translate(0%);
    -webkit-transform:translate(0%);
    -moz-transform:translate(0%);
    -ms-transform:translate(0%);
    -o-transform:translate(0%);
    transition: translate .5s ease in;
    -webkit-transition: translate .5s ease in;
    -moz-transition: translate .5s ease in;
    -ms-transition: translate .5s ease in;
    -o-transition: translate .5s ease in;
}

.active {
    color:#fff;
    font-weight: bold;
}

.profile-picture-wrapper {
    margin-bottom:1rem;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border:1px solid #ccc;

    img {
        width:60px;
    }
}

#home-icon, #students-icon, #users-icon, #logout-icon, #excel-icon, #parents-icon, #moment-icon, #development-icon {
    width:20px;
    margin-bottom:3px;
    margin-right:4px;
}
