.eml-emotion {
    max-width:170px !important;

}

#swiper-wrapper-47465d4421825ce4 > div.swiper-slide.swiper-slide-active > div > img {
    max-width:450px;
}

.item-image-eml {
    text-align:center;
    margin:4rem auto 0 auto;
    width:900px;
    img {
        width:80%;
        max-width:600px;
        margin:1rem;
    }
}

.eml-action {
    max-width:230px !important;
}

.eml-label {
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    p {
        text-align:center;
        font-weight: 700;
    }
}

.eml-form {
    display:flex;
    flex-direction: row !important;
/*     gap:2rem; */

}