.esc-image {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 600px; /* Need a specific value to work */
}



.esc-emotion {
    width:350px;
    height:200px;
    box-sizing: border-box;
}

.esc-test {
    display: flex;
    flex-direction: column;
}
.esc-test:hover {
    outline:4px solid #3aafb9;;
}

.esc-test:active {
    outline:4px solid #3aafb9;;
}

.esc-slide {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.esc-form {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:.5rem;
    align-items:center;
    justify-content:flex-start;
}


@media (min-width: 1200px) { 
    .esc-emotion {
            width:500px;
            height:250px;
            box-sizing: border-box;
    }
}
