.hnf-container {

    display:flex;
    flex-direction:column;

    .hnf-option-container {
        display:flex;
        border:1px solid #ccc;
        justify-content: space-between;
        border-radius:.5rem;
        margin:2rem;
        position:relative !important;
        
    }
    
    .hnf-box {
        width:40px;
        height:200px;
        border-radius:.5rem;
        background-color: #fff;
        z-index:2;
    }
    
    .hnf-button-container {
        display:flex;
        justify-content: space-around;
        border-radius:.5rem;

        .hnf-button {
            width:400px;
            height:250px;
            border-radius:.5rem;
            border:none;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
            background-color:#f3f3f7;
        }

        .hnf-button:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        }
    }

}

.hnf-heart {
    background-image:url('/public/images/corazon.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    width:58% !important;

} 

.hnf-flower {
    background-image:url('/public/images/flor.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    width:58% !important;
}

.hnf-instructions-1 {
    position:absolute;
    width:100%;
    height:600px;
    z-index:10;
    background-color:#fff;

    div {
        h4 {
            width:80%;
            margin:2rem auto;
            text-align: center;
        }
    }
}


.first-example {
    background-image:url('/public/images/corazon-1.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    width:400px;
    height:250px;
}

.second-example {
    background-image:url('/public/images/corazon-2.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    width:400px;
    height:250px;
}

.hnf-example-container {
    display:flex;
    justify-content: space-around;
    margin-top:3rem;
}

.hidden-container {
    z-index:0;
    display:none;
    visibility: hidden;
}


#hnf-wall {
    border:2px solid red;
    z-index:-1;
    background-color:#ddd;
}


.overlay {
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.5);
}

.container-hnf {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}