.home-wrapper {

    

    text-align: center;

    h1 {
        padding:2rem;
        color:#444;
        text-align: center;

        height:100%;
        
    }

    h4 {
        color:#444;

    }

    display:flex;
    flex-direction: column;
    gap:.5rem;

    .table-wrapper {
        margin-top:2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: center;
        flex-wrap: wrap;
    }
}

.table-home {
    width:300px !important;
    margin:2rem auto;
    border:1px solid #444;
    color:#333;

}