.page-item {
    background-color: #fff;
    height:calc(100vh - 120px);
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    .letter-example {
        width:80%;
        margin:0 auto;
    }

    .main-description {
        width:60%;
        line-height:2rem;
        min-width:300px;
        margin:0 auto;
        background-color: #fff;
        padding:2rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding:2rem;

    }

    img {
        max-width:600px;
    }

}
/* First Instrument */

.instrument-form{
        
        text-align: start;
        input,label {
            padding:.6rem;
        }


        label  {
            cursor: pointer;
            width:100%;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;

        }

        label:hover {
            background-color: #3aafb9;
            color:#fff;
        }

        label > input[type="radio"] {
            margin-right:5px;
        }

        padding:1rem !important;
}

.sdq-wrapper {
    max-width: 1100px;
    margin:1rem auto;
    padding:2rem 0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .sdq-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width:inherit;
        padding:2rem 0;

        img {
            width:40%;
        }

        
    }



    .sdq-instructions {

        border:1px solid #ccc;

        h6 {
            width:100%;
            background-color: #ccc;
            padding:.5rem;
        }
        width:90%;
        margin:0 auto;

        p {
            padding:1rem;
        }

    

    }

    #sdq-btn {
        width:150px;

    }
}
.instrument-sdq {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border:1px solid #ddd;
    width:90%;
    margin: 1rem auto;
    

    .sdq-title {
        width:40%;
        text-align: start;
    }

    .sdq-option {
        width:60%;

        label {
            margin-left:20px;
            padding:0rem;
        }

    }

}


.instrument-sdq__open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90%;
    
    h6 {
        align-self: flex-start;
    }

    textarea {
        align-self: flex-start;
        width:1000px;
        text-align: start;
        padding:1rem;
        max-height:200px;
    }
}


.instrument-multiple {

    max-width:900px;
    margin-bottom:1rem;
}

.multipleChoicesWrapper {
    border:1px solid #ddd;
    width:90%;
    margin: 1rem auto;

}

.instrument-sdq__extended {
    display: flex;

    border:1px solid #ddd;
    margin: 1rem auto;
    width: 90%;
    flex-direction: column;

    .sdq-option {
        text-align: center;
    }
}



.aces-item {
    width:100px !important;
    height:100px !important;
}