.thirdStick {
    background-image: url('/public/images/stick.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30px 300px;
}

.secondStick {
    background-image: url('/public/images/stick.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30px 210px;
}

.firstStick {
    background-image: url('/public/images/stick.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30px 120px;
}


