.wally-emotion {
    max-width:170px !important;

}

.item-image-wally {
    text-align:center;
    margin:4rem auto 0 auto;
    width:900px;
    img {
        margin:1rem;
    }
}

.wally-action {
    max-width:230px !important;
}

.wally-label {
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    p {
        text-align:center;
        font-weight: 700;
    }
}

.wally-form {
    display:flex;
    flex-direction: row !important;
/*     gap:2rem; */

}