.wally-emotion {
    max-width:100px !important;
}

.item-image-wally {
    text-align:center;
    margin-top:4rem;
}

.wally-action {
    max-width:250px !important;
}

.wally-label {
    text-align:center;
}

.wally-form {
    display:flex;
    flex-direction: row !important;
    gap:2rem;

}